body {
	height: 600px;
	width: 400px;
	background-color: #FAFAFA;
	color: #424242;
}

body .container {
	position: absolute;
	top: 50px;
	padding: 0.5rem;
	padding-top: 1rem;
	padding-bottom:0rem;
	height: 502px;
	overflow-y: auto;
	overflow-x: hidden;
}

body .containerComments {
	position: absolute;
	top: 50px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0;
	padding-bottom:0;
	width: 100%;
	height: 450px;
	overflow-y: auto;
	overflow-x:hidden;
}

h1 {
	font-size: 1.1em;
	font-weight: 400;
}

textarea {
	padding-right: 16px !important;
    padding-left: 16px !important;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    outline: 0 none !important;
    box-shadow:none !important;
}

input {
	border-radius:0 !important;
	border:none !important;
}

button:active {
	box-shadow: none !important;
}

/*#account {
	position: absolute;
	top: 8px;
	right: 12px;
}*/

#activePageCard {
	background-color: #E91E63;
	color: #FFFFFF;
	border:none;
	margin: -0.5rem;
	margin-top: 15px;
	width: auto;
	border-radius: 0;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	border-bottom-width: 1px;
	box-shadow: none;
	overflow: visible;
}

#activePageCard a {
	color: #FFFFFF;
}

#activePageCard.inactive {
	background-color: #757575!important;
}

#activePageCard .mentions-autocomplete-list {
	color: #424242;
}

#activePageUrl {
	font-size: 0.6em;
	text-transform: uppercase;
}

#bottomNav {
	height: 50px;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-bottom: 10px;
	color: #424242;
	border-top: solid 1px #E0E0E0;
}

#bottomNav a {
	color: #FFFFFF;
}

#bottomNav a:hover {
	color: #FFFFFF;
}

#bottomNav .active, #topNav .active, .drawer .active {
	color: #E91E63 !important;
	font-weight: 600;
}

#bottomNav, #topNav {
	background-color: #FFFFFF;
}

#bottomNav .nav-item a {
	width: 176px; 
	margin-right: 0.5rem;
	margin-left:0.5rem;
	color: #BDBDBD;
}

#bottomNav .nav-item a:hover {
	color: #424242;
}

#bottomNav .nav-item .active {
    background-color: #FFFFFF !important;
    border-radius:0;
    border-width: 5px;
    border-bottom-style: solid;
    border-color: #E91E63;
    color: #424242;
}

#bottomNav .nav-link, #topNav .nav-link {
	width: 100px;
	text-align: center;
	color: #E0E0E0;
}

#bottomNav .nav-link:hover, #topNav .nav-link:hover {
	color: #424242;
}

#bottomNav p {
	font-size: 1.1em;
	width: 350px; 
	white-space: nowrap; 
	overflow:hidden;
}

#commentsBody {
	margin-top: 34px;
	margin-bottom: 20px;
}

#createGroupBtn {
	border-radius: 0;
	border:none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: fixed;
	bottom:50px;
}

#createGroupBtn[disabled] {
	background-color: #E91E63;
}

#formNewComments {
	width: 368px;
	position: fixed;
	bottom: 66px;
}

#formNewComments .btn-outline-secondary {
	box-shadow:none;
}

#friendsListDropdown {
	max-height: 350px; 
}

#groupNameInput {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: solid !important;
	border-width: 1px !important;
	border-color: #EEEEEE !important;
}

#leaveGroupBtn:focus {
	box-shadow: none;
}

#loginSpinner {
	color: #BDBDBD; 
	display:none;
	position: absolute;
	top: 220px;
}

#logoutButton {
	color: #424242 !important;
}

#logoutButton:hover {
	color: #ffffff!important;
}

#loginPicture .invisible {
	visibility: hidden;
}

#newComment {
	border: 0;
	border-radius: 0;
}

#newComment:focus {
	background-color: transparent !important;
}

#newComment.comments {
	width: 320px;
	border: solid 1px #E0E0E0;
	border-radius: 5px;
	height: 40px;
}

#notificationBadge {
	position: absolute;
	bottom: 18px;
	left: 216px;
	z-index: -1;
}

#privacyBtn {
	color: #FFFFFF;
	background-color: transparent;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	padding-top: 0;
	padding-bottom: 0;
	width:59px;
}

#privacySettings {
	color: #424242;
	background-color: #EEEEEE;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
}

#privacySettings .form-check {
	margin-bottom: 0;
	color:#424242;
}

#submitComment {
	border-radius: 20px;
	height: 100%;
	width: 40px;
	height: 40px;
	padding: 0;
	box-shadow: none;
}

#tagFriendsNav {
	padding-top: 0.5rem;
	padding-bottom: 0rem;
	background-color: #2196F3;
	color: #FFFFFF;
}

#topNav {
	padding: 0;
	padding-top: 5px;
	border-bottom: solid 1px #E0E0E0;
	max-height: 50px;
}

#topNav h1 {
	font-weight: 450;
	margin-bottom: 5px;
	color: #424242;
}

#topNav a{
	color: #424242;
}

.activePageBtns {
	background-color: #EEEEEE;
	color: #424242;
	padding: 0;
}

.activePageBtns button {
	width: 100%;
	background-color: transparent;
	color: #424242;
	font-weight: 500;
	margin: 0;
	box-shadow:none!important;
	border-radius:0;
	border: none;
	padding: 0.75rem;
}	

.btn-primary {
	background-color: #E91E63;
	border-color: #E91E63;
}

.btn-primary:hover {
	background-color: #C2185B;
	border-color: #C2185B;
}

.btn-primary:active {
	background-color: #C2185B !important;
	border-color: #C2185B!important;
	box-shadow: none!important;
}

.btn-facebook {
  color: #FFFFFF !important;
  background-color: #3B5998;
  border-color: #3B5998;
}

.btn-facebook:hover {
  color: #FFFFFF !important;
  background-color: #30497c;
  border-color: #30497c;
}

.btn-facebook:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-facebook.disabled, .btn-primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-facebook:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #FFFFFF !important;
  background-color: #3B5998;
  border-color: #3B5998;
  box-shadow: none;
}

.btn-outline-secondary {
	border-color: #CECECE;
}

.btnTagsPublic {
	background-color: #2196F3;
	color: #FFFFFF;
}

.btnTagsPrivate {
	background-color: #424242;
	color: #FFFFFF;
}

.btn.dropdown-toggle {
	box-shadow:none;
}

.commentDetails {
	color:#9E9E9E;
	padding-left: 56px;
	padding-right: 56px;
}

.commentDetails i {
	color:#424242;
}

.commentsNoScroll {
	position: absolute;
	bottom: 0px;
}

.commentsScroll {
	position: relative;
	bottom: 0px;
}

.container > .loadingSpinner {
	position: absolute;
	top: 230px;
	left: 180px;
}

.containerComments > .loadingSpinner {
	position: absolute;
	top: 230px;
	left: 180px;
}

.open > .dropdown-toggle.btn-outline-secondary:focus {
	box-shadow: none!important;
}


.card, .cardList {
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border: solid 1px #E0E0E0;
	border-radius: 8px;
	width:100%;
	/*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 3px 0 rgba(0, 0, 0, 0.06);*/
}

.card {
	padding: 0rem;
	overflow: hidden; 
}

.cardList {
	padding:0;
}

.cardListGroup {
	width: 100%;
	padding: 0;
	margin:0;
}

.cardListGroup a {
	display: block;
	border-bottom-style: solid;
	border-color: #EEEEEE;
	border-width: 1px;
	margin:0;
	padding:1rem;
	color: #424242;
	text-decoration: none !important;
}

.cardListGroup a:hover {
	background-color: #EEEEEE;
}

.cardNewsfeed {
	padding: 0;
}

.cardNewsfeed a {
	color: #212121;
}

.cardNewsfeed .message {
	padding-top: 0.5rem;
	padding-bottom: 0.75rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.cardNewsfeed .loadingSpinner {
	position: absolute;
	left: 180px;
	top: 150px;
	color: #424242;
}

.chatBubble {
	background-color: #EEEEEE;
	border-radius: 16px;
	padding: 0.5rem;
	margin-left: 0.5rem;
	width: auto !important;
	max-width: 275px;
}

.chatBubble a {
	color: #000000;
}

.commentGroup {
	padding-top: 1rem;
}

.closeDrawerArea {
	position:absolute;
	top: 50px;
	left: 0px;
	height: 500px;
	width: 400px;
	background-color: #000000;
	z-index:10;
	opacity: 0;
}

.disableClick{
    pointer-events: none;
}

.drawer {
	position:absolute;
	top: 50px;
	left: -200px;
	height: 500px;
	width: 200px;
	background-color: #EEEEEE;
	color: #424242;
	padding-top: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
}

.drawer .nav-link {
	color: #424242;
	padding-top: 0.5rem;
	padding-left: 0rem;
	padding-right: 1rem;
	padding-bottom: 0rem;
}

.drawer .nav-link:hover, .drawer a, .drawer a:hover {
	color: #424242;
}

.dropdownOptions .dropdown-menu {
	border-style: solid;
	border-color: #EEEEEE;
}

.dropdown-menu {
	overflow-y:scroll; 
	overflow-x:hidden;
	padding: 0;
	border-style:none;
	max-height: 200px;
}

.dropdown-item {
	padding-left: 1rem;
	padding-right: 1rem;
}

.dropdown-item:hover {
	background-color: transparent;
	color: #2196F3;
}

.dropdown-item:active {
	color: #2196F3;
	background-color: transparent;
}

.dropdown-item .disabled{
	color: #BDBDBD!important;
}

.fadedOverlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	background-color: #FFFFFF;
	opacity: 0.7;
}

.groupMember {
	color: #424242;
	padding: 8px;
	padding-left: 1rem;
	padding-right: 1rem;
	flex-shrink: 0;
}

.groupMember:hover {
	color: #424242;
	background-color: #EEEEEE;
	text-decoration: none;
}

.groupMembersCard {
	max-height: 369px;
	overflow-y: scroll;
}

.groupTitle, .groupTitle:hover {
	color: #000000;
}

.groupTitle {
	font-weight: 350;
	color: #424242 !important;
}

.groupTitleContainer {
	padding: 6px;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #EEEEEE;
	position:fixed;
	left: 0;
	top: 50px;
	z-index: 1;
	width: 100%;
	border-bottom: solid 1px #E0E0E0;
}

.groupTitleContainer a {
	color: #424242;
}

.hamburger {
	position: absolute;
	left: 1rem;
	top: 13px;
}

.likeButton {
	height: 100%;
	width: auto;
	text-align: center;
	padding: 0.5rem;
}

.likeButton a {
	color: #424242;
	text-decoration: none !important;
}

.likeButton a:hover {
	color: #C2185B;
}

.likeButton .active {
	color: #E91E63;
}

.loadingSpinner {
	color: #BDBDBD;
}

.loadingSpinner.newsfeed {
	position: absolute;
	top: 400px;
	left: 180px;
}

.notification {
	max-width: 275px;
	margin-bottom: 0;
}

.pageDescription {
	font-size: 0.8em;
	color: #424242;
	margin-bottom: 8px;
}

.pageDomain, .postDescription {
	color: #757575;
	margin-bottom: 0;
}

.pageDomain, .postDescription {
	font-size: 0.8em;
}

.pageImg {
	height: 150px;
	overflow: hidden;
}

.pageImg img {
	width: 100%;
}

.pageTitle h1 {
	font-weight: 500;
}

.postDescription {
	margin-right: 2rem;
	font-size: 0.8em;
	margin-top: 0.5rem;
	margin-left: 1rem;
	margin-bottom: 0rem;
}

.private {
	background-color: #BDBDBD;
	/*color: #FFFFFF;*/
}

.profilePic {
	width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.modal-header {
	border:none;
}

.replyBtn {
	margin-left:56px; 
	padding-left:0;
}

.replying {
	background-color: #2196F3 !important;
	color: #FFFFFF !important;
}

.replyingPrivate {
	background-color: #424242 !important;
	color: #FFFFFF !important;
}

.replying a, .replyingPrivate a {
	color: #FFFFFF !important
}

.replying h1, .replyingPrivate h1 {
	color: #FFFFFF !important
}

.optionsBtn {
	position: absolute;
	padding:0;
	top: 0.5rem;
	right: 1rem;
	color: #757575 !important;
	box-shadow:none !important;
}

.tagsToggle {
	padding: 0;
	box-shadow: none!important;
}

.thumbnail {
    width: 40px !important;
    height: 40px !important;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.thumbnail img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.z-depth-1, #tagFriendsNav, .dropdown-menu, .drawer {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 7px 0 rgba(0, 0, 0, 0.08); }

.z-depth-1-half, #friendsListDropdown, .dropdownOptions {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

  .fab{
  border-radius: 50%;
  margin:0;
  padding: 20px;
}