body {
	height: 600px;
	width: 400px;
	background-color: #FAFAFA;
}

body .container {
	position: absolute;
	top: 93px;
	padding: 1rem;
	height: 508px;
	overflow: scroll;
}

body .containerComments {
	position: absolute;
	bottom: 53px !important;
	padding: 1rem;
	padding-top: 0rem;
	padding-bottom:0;
	max-height: 453px !important;
	overflow-y: auto;
}

h1 {
	font-size: 1em;
	font-weight: 300;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #E91E63 !important;
    outline: 0 none !important;
    box-shadow:none !important;
}


#bottomNav {
	height: auto;
	padding-right: 0rem;
	padding-left: 0rem;
	padding-bottom: 0rem;
}

#bottomNav, #topNav {
	background-color: #FFFFFF;
}

#bottomNav .nav-item a {
	width: 176px; 
	margin-right: 0.5rem;
	margin-left:0.5rem;
	color: #BDBDBD;
}

#bottomNav .nav-item a:hover {
	color: #424242;
}

#bottomNav .nav-item .active {
    background-color: #FFFFFF !important;
    border-radius:0;
    border-width: 5px;
    border-bottom-style: solid;
    border-color: #E91E63;
    color: #424242;
}

#formNewComments .btn-outline-secondary {
	box-shadow:none;
}

#topNav .active {
	color: #E91E63;
}

.btn-primary {
	background-color: #E91E63;
	border-color: #E91E63;
}

.btn-primary:hover {
	background-color: #C2185B;
	border-color: #C2185B;
}

.btn-primary:active {
	background-color: #C2185B !important;
	border-color: #C2185B!important;
	box-shadow: none!important;
}

.btn-facebook {
  color: #FFFFFF !important;
  background-color: #3B5998;
  border-color: #3B5998;
}

.btn-facebook:hover {
  color: #FFFFFF !important;
  background-color: #3B5998;
  border-color: #3B5998;
}

.btn-facebook:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-facebook.disabled, .btn-primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-facebook:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #FFFFFF !important;
  background-color: #3B5998;
  border-color: #3B5998;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary {
	border-color: #CECECE;
}

.open > .dropdown-toggle.btn-outline-secondary:focus {
	box-shadow: none!important;
}


.card, .cardList {
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-color: #EEEEEE;
	border-width: 1px;
	border-radius: 2px;
}

.card {
	padding: 1rem;
}

.cardList {
	padding:0;
}

.cardListGroup {
	width: 100%;
	padding: 0;
	margin:0;
}

.cardListGroup a {
	display: block;
	border-bottom-style: solid;
	border-color: #EEEEEE;
	border-width: 1px;
	margin:0;
	padding:1rem;
	color: #424242;
	text-decoration: none !important;
}

.cardListGroup a:hover {
	background-color: #EEEEEE;
}

.chatBubble {
	background-color: #EEEEEE;
	border-radius: 16px;
	padding: 0.5rem;
	margin-left: 0.5rem;
	max-width: 275px;
}

.commentGroup {
	padding-top: 1rem;
}

.commentGroup a {
	color: #424242;
	text-decoration: none !important;
}

.commentGroup a:hover {
	color: #C2185B;
}

.dropdown-item:hover {
	background-color: #FFFFFF;
	color: #E91E63;
}

.dropdown-item:active {
	color: #424242;
	background-color: #FFFFFF;
}

.dropdown-item .disabled{
	color: #BDBDBD!important;
}

.likeButton {
	height: 100%;
	width: auto;
	text-align: center;
	padding: 0.5rem;
}

.likeButton .active {
	color: #E91E63;
}

.nav-link {
	width: 100px;
	text-align: center;
	color: #E0E0E0;
}

.nav-link:hover {
	color: #424242;
}

.notification {
	max-width: 275px;
	margin-bottom: 0;
}

.profilePic {
	width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.thumbnail {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.thumbnail img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.z-depth-1, #bottomNav, #topNav, .card, .cardList {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

  .fab{
  border-radius: 50%;
  margin:0;
  padding: 20px;
}