<!DOCTYPE html>
<html lang="en">

<body>

<a class="btn btn-facebook" role="button" id="loginButton">
            <div class="d-flex justify-content-center align-items-center">
              <i class="fa fa-facebook-official fa-2x mr-3"></i> Log In with Facebook
            </div>
          </a>


  </body>





<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/autosize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/waves.min.js') }}"></script>



<script>


$(document).on("click", "#loginButton", function(){

var userID;
var userName;
var userEmail;
var friendsArray;
var picture;

window.fbAsyncInit = function() {
    FB.init({
      appId      : '1430922756976623',
      xfbml      : true,
      version    : 'v2.10',
      cookie     : true
    });

    FB.login(function(response) { 
      var currentUrl = window.location.href;
    if (response.status == 'connected') {
      console.log('Logged in and authenticated');
      console.log(response)
      FB.api('/me', {access_token: response.accessToken, fields: ['email', 'friends', 'name', 'picture']}, function(api) {
        userID = api.id;
        userName = api.name;
        userEmail = api.email;
        friendsArray = api.friends.data;
        picture = api.picture.data.url;
        console.log(api)

        $.post('https://pickle-server-183401.appspot.com' + '/register/', {"json" : JSON.stringify({"status" : true, "id" : userID, "name" : userName, "email" : userEmail, "friends" : friendsArray, "picture" : picture})});
        // $("body").append('<p>' + JSON.stringify({"status" : true, "id" : userID, "name" : userName, "email" : userEmail, "friends" : friendsArray}) + '</p>');
        
      }); 
    } else {
      $.post('https://pickle-server-183401.appspot.com' + '/register/', {"json" : JSON.stringify({"status" : false, "id" : userID, "name" : userName, "email" : userEmail, "friends" : friendsArray, "picture" : picture})});



    }

    window.top.location.reload();

  

 }, {scope: 'public_profile,email,user_friends'});

};

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


});


  
</script>

</html>






