<!DOCTYPE html>
<html lang="en">

<body>
    <div id="notifications">

    {% for i in notifications %}
        <a id="{{i[0]}}" href="{{i[5]}}" class="notificationTab"><div class="d-flex align-items-center">
              <div class="thumbnail mr-3">
                <img src={{i[4]}}>
              </div>
              <!-- If page title field is not empty (i.e. if user that created comment has updated chrome extension) -->
              {% if i[6] %}
              <p class="notification"><strong>{{i[1]}}</strong> {{i[3]}} "{{i[6]}}"</p>
              {% else %}
              <p class="notification"><strong>{{i[1]}}</strong> {{i[3]}}</p>
              {% endif %} 
            </div></a>
        
    {% endfor %}
</div>
</body>


</html>