
.btn-facebook {
  color: #FFFFFF !important;
  background-color: #3B5998;
  border-color: #3B5998;
}

.btn-facebook:hover {
  color: #FFFFFF !important;
  background-color: #3B5998;
  border-color: #3B5998;
}

.btn-facebook:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-facebook.disabled, .btn-primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-facebook:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #FFFFFF !important;
  background-color: #3B5998;
  border-color: #3B5998;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}